# Redirect 301 / https://kiiko.ru/
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://lab.kiiko.ru/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

<Files "metrologists.json">
  Order allow,deny
  Deny from all
</Files>